    body { font-family: 'Kanit', sans-serif; background: #f4f4f4; }
    header { background: #800; color: white; padding: 1em; text-align: center; }
    main { padding: 2em;margin-top: 72px; }
    .channel-list { display: flex; flex-wrap: wrap; gap: 1em; justify-content: center; }
    .channel-box { background: white; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); padding: 1em; width: 250px; text-align: center; }
    .channel-box img { width: 64px; height: 64px; object-fit: cover; border-radius: 5px; }
    .videos { display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 1.5em; margin-top: 2em; }
    .video-box { background: white; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); padding: 1em; width: 50%;}
    .video-box iframe { width: 100%; height: 215px; border: none; border-radius: 8px; }
    @media (max-width: 520px) {
      .video-box {
        width: 100%;
      }
    }
    .channel-box h3 {
        font-size: inherit;
    }
    
    #videoList {
        margin: 0 auto;
        max-width: 900px;
    }

    * { box-sizing: border-box; margin: 0; padding: 0; }

    header {
      background: #800;
      color: white;
      padding: 1em 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      z-index: 9;
      width: 100%;
      top: 0;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .logo img {
      height: 40px;
    }

    nav {
      display: flex;
      align-items: center;
    }

    .menu {
      list-style: none;
      display: flex;
      gap: 1.5em;
      margin: 0;
    }

    .menu li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s;
    }

    .menu li a:hover {
      color: #1abc9c;
    }

    .menu-toggle {
      display: none;
      font-size: 1.5em;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .menu {
        display: none;
        flex-direction: column;
        background: #800000;
        position: fixed;
        top: 72px;
        right: 0;
        width: 200px;
        padding: 1em;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        z-index: 999;
      }

      .menu.show {
        display: flex;
        width: 100%;
        z-index: 9;
      }

      .menu-toggle {
        display: block;
        color: white;
      }
    }
    #channelList {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px 0;
  }
